In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score,r2_score,mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [4]:
veri = pd.read_csv("owid-covid-data.csv")
veri.loc[0:4,"new_cases_smoothed"]=0
veri.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,0.0,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,0.0,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,0.0,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,0.0,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,0.0,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-01-10,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-01-11,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-01-13,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-01-14,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [5]:
df1=pd.DataFrame(veri)
newCasesWorld = df1[['new_cases']]

newCasesWorld = newCasesWorld[newCasesWorld.index % 7 == 0]
newCasesWorld
print(len(newCasesWorld))

55322

In [6]:
y_mean = df1['new_deaths'].mean()
df1['new_deaths'].fillna(y_mean, inplace=True)
newDeathsWorld = df1[['new_deaths']]

newDeathsWorld = newDeathsWorld[newDeathsWorld.index % 7 == 0]
newDeathsWorld
print(len(newDeathsWorld))

55322

C:\Users\Celal\AppData\Local\Temp\ipykernel_11752\100169753.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['new_deaths'].fillna(y_mean, inplace=True)

In [7]:
newCasesSmoothedWorld = df1[['new_cases_smoothed']]

newCasesSmoothedWorld = newCasesSmoothedWorld[newCasesSmoothedWorld.index % 7 == 0]
newCasesSmoothedWorld
print(len(newCasesSmoothedWorld))

55322

In [8]:
diabetesPrevalenceWorld = df1[['diabetes_prevalence']]

diabetesPrevalenceWorld = diabetesPrevalenceWorld[diabetesPrevalenceWorld.index % 7 == 0]
diabetesPrevalenceWorld
print(len(diabetesPrevalenceWorld))

55322

In [9]:
cardiovascDeathRateWorld = df1[['cardiovasc_death_rate']]

cardiovascDeathRateWorld = cardiovascDeathRateWorld[cardiovascDeathRateWorld.index % 7 == 0]
cardiovascDeathRateWorld
print(len(cardiovascDeathRateWorld))

55322

In [10]:
populationWorld = df1[['population']]

populationWorld = populationWorld[populationWorld.index % 7 == 0]
populationWorld
print(len(populationWorld))

55322

In [11]:
X = np.column_stack((newCasesWorld, newCasesSmoothedWorld, diabetesPrevalenceWorld, cardiovascDeathRateWorld, populationWorld))

In [12]:

y =  (newDeathsWorld)
print(y.shape)

(55322, 1)

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.27, random_state = 4555)

In [14]:
param_grid = {
    'n_estimators': list(range(20, 200, 50)),
    'max_depth': [10, 20]
}

In [15]:
best_score = float('inf')
best_params = None
for n_estimators in param_grid['n_estimators']:
    for max_depth in param_grid['max_depth']:
        
        
        model = RandomForestRegressor( n_estimators=n_estimators,max_depth=max_depth)  
        
        model.fit(X_train, y_train)
        
        
        y_pred = model.predict(X_test)
        mse = mean_squared_error(y_test, y_pred)
        
        
        if mse < best_score:
            best_score = mse
            best_params = {'n_estimators': n_estimators, 'max_depth': max_depth}  
print("En iyi parametreler:", best_params)
print("En iyi skor:", best_score)

C:\Users\Celal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Users\Celal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Users\Celal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Users\Celal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Users\Celal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Users\Celal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Users\Celal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Users\Celal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

En iyi parametreler: {'n_estimators': 20, 'max_depth': 10}
En iyi skor: 179314.44718520797

In [16]:
import time
rf=RandomForestRegressor( n_estimators=n_estimators,random_state=16,max_depth=max_depth)
start_time = time.time()
rf.fit(X_train,y_train )
end_time = time.time()
trainTime = end_time - start_time
print(f" eğitim için geçen süre: {trainTime:.2f} saniye")
print("Train Başarısı = %",rf.score(X_train,y_train)*100)
print("Test Başarısı = %",rf.score(X_test,y_test)*100)

C:\Users\Celal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

 eğitim için geçen süre: 12.69 saniye
Train Başarısı = % 96.39250913175464
Test Başarısı = % 67.87191980674281

In [17]:
y_pred = rf.predict(X_test)

In [18]:
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
mae=mean_absolute_error(y_test, y_pred)

In [19]:
print("mean squared error",mse)
print("hata kareler",r2)
print("meanabsolute",mae)

mean squared error 190374.21837900576
hata kareler 0.6787191980674281
meanabsolute 27.852516156748003